
.main {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 1110px;
}

.container_single{
    width: 264px;
    height: 284px;
    background-color: #2B334A;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#2B334A,#0E1122);
}

.container_double{
    display: flex;
    width: 548px;
    height: 284px;
    background-color: #2B334A;
    border-radius: 16px;
    background: linear-gradient(to bottom,#2B334A,#0E1122);
}

p {
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
    font-size: 24px;
}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 274px;
    height: 284;
    text-align: center;
}

.text {
    margin-top: 15px;
    text-align: center;
}

.container-prob{
    display: flex;
    align-items: flex-end;
}
