.maincomp{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 50px 0 90px 80px;
}
.tempydatos{
    width: 494.67px;
    height: 315px;
    margin: 40px 40px 20px 30px;
    padding-top: 80px;
}

.containers-cities{
    display: flex;
    flex-direction: row;
    width: 800px;
    padding: 20px;
    margin: 20px;
    color: white;
}

.title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 80px;
}

.today {
    font-size: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.022em;
    color: #FFFFFF;
}

.weather-temperature{
    display: flex;
}


.celcius-farenheit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 140px;
    line-height: 100px;
    align-items: center;
    color: #FFFFFF;

}